Benoit-Bourdin-resume.tex
Benoit-Bourdin-resume.rmd
Benoit-Bourdin-resume.md
Benoit-Bourdin-resume.log
tmp_resume-timeline.png
resume-timeline.png
Benoit-Bourdin-resume_files/figure-markdown_github/Skills-1.png
Benoit-Bourdin-resume.pdf
Benoit-Bourdin-slide.png
Benoit-Bourdin-resume.html
Benoit-Bourdin-resume.docx
Benoit-Bourdin-slide.md
Benoit-Bourdin-slide.html
.RData
.gitignore
.Rhistory
Benoit-Bourdin-resume_files/figure-markdown_github/PerformanceRatings-1.png
xelatexemoji-flags.sty
xelatexemoji.sty
Benoit-Bourdin-slide.pptx
Benoit-Bourdin-slide.pdf
