---
marp: true
theme: default
paginate: false
{% if template == "dxc" %}
header: ![w:100%](dxc-data/img/dxc-ppt-header-1280.png)
footer: ![w:100%](dxc-data/img/dxc-ppt-footer-1280.png)
{% endif %}
# marp documentation: <https://marp.app/#get-started>
# marp examples:
#   <https://gist.github.com/yhatt/a7d33a306a87ff634df7bb96aab058b5>
#   <https://speakerdeck.com/yhatt/marp-basic-example>
---

<style>
img[alt~="center"] {
  display: block;
  margin: 0 auto;
}
header {
  top: 0px;
  left: 0px;
}

footer {
  bottom: 0px;
  left: 0px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40pt;
  font-weight: bold;
  color: grey;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20pt;
  font-weight: bold;
  color: black;
}

table {
  width: 1000px;
  border-collapse: collapse;
  border: none;
  /* nice standard stile
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
}

/* nice standard stile
thead tr {
    background-color: #009879;
    color: #ffffff;
}
*/

thead tr {
    /* default DXC template for tables
    background-color: transparent;
    color: rgba(111, 44, 145, 1);*/
    background-color: rgba(111, 44, 145, 1);
    color: white;
    font-size: 15pt;
}

tbody td {
    border: none;
}

section {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  color: black;
}

</style>

# Benoit Bourdin

![bg right:15% w:70%](img/me.jpg)

**DevOps/Agile transformation lead** at DXC Technology |
:------|
Leading the DevOps and Agile transformation of several teams, organizations and customers, by coaching on culture, practices and tools. Also contributing as product owner for a platform @scale, in communities of practice and on pre-sales. |

Experience | Top skills |
:------|---|
| _4 years_: Agile/Lean/DevOps transformation lead and enterprise coach | **Soft skills:** Empathy, listening, proactivity. |
| _2 years_: Product owner and architect of DXC DevCloud (Agile/DevOps central platform to 28,000 users) | **Culture**: Agility, transparency, teamwork, focusing business value. |
| _2 years_: Product owner, design and development of a next-gen operations platform (Platform-X) | **Practices**: Scrum, Kanban, SAFe, team topologies, infrastructure as code, Value Stream Mapping. |
| _10 years_: global standards, middleware & automation for {{dxc_exp1.customer_shortname}} and {{dxc_exp2.customer_shortname}} | **Tools**: Jira, GitHub, Azure DevOps, Jenkins, Power BI. |
| _5 years_: system & network administration, software development | **Hobbies:** travels, sailing, gardening. |
