---
urlcolor: blue
linkcolor: blue
output:
  md_document:
    variant: markdown_github
    preserve_yaml: false
  html_document:
    theme: sandstone
    toc: true
    toc_float:
      collapsed: true
      smooth_scroll: true
  pdf_document:
    latex_engine: xelatex
    extra_dependencies: ["xelatexemoji"]
  word_document: default
---

```{r setup, include=FALSE}
knitr::opts_chunk$set(echo = TRUE)
library(knitr)
```

_This resume is leveraging DevOps `r emo::ji("rocket")` (automatically built from [source code by a CI/CD pipeline]({{this_repo.url}}))_.

**Resume:** [HTML]({{this_repo.pages_url}}/index.html/index.html) / [Markdown]({{this_repo.url}}/blob/gh-pages/Benoit-Bourdin-resume.md) / [PDF](Benoit-Bourdin-resume.pdf) / [Word](Benoit-Bourdin-resume.docx). **One-slide**: [One-slide HTML](Benoit-Bourdin-slide.html) / [Powerpoint](Benoit-Bourdin-slide.pptx) / [PDF](Benoit-Bourdin-slide.pdf) / [PNG](Benoit-Bourdin-slide.png).

[Like it? I would `r emo::ji("red_heart")` your feedback!](https://forms.gle/uicsQT38UznBk6rcA). Be notified `r emo::ji("notification")` on updates: [watch](https://docs.github.com/en/get-started/quickstart/be-social#watching-a-repository) [the GitHub repository]({{this_repo.url}}).

## Profile

<!-- for all-latex based output formats (pdf, md) -->

```{=latex}
\begin{figure}[hbtp]
\vspace*{-0.3in}\hspace*{-0.5in}\includegraphics[width=1.2\textwidth]{Benoit-Bourdin-slide.png}
\end{figure}
```

<!-- for other output formats -->

```{r slide, echo=FALSE, error=TRUE, warning=FALSE, message=TRUE, out.width="130%"}
if (! knitr::is_latex_output()){
  knitr::include_graphics("Benoit-Bourdin-slide.png")
}
```

+--------------------------------------------------------+------------------------------------------------------------------------------------------------------------+
| **{{github_profile}}**                                 | `r emo::ji("bubble")` **{{async_contact_info}}[LinkedIn](https://www.linkedin.com/in/benoit-bourdin-b9b2642/) / {{email_addr}}** |
|                                                        | **{{sync_contact_info}} `r emo::ji("telephone")`**                                                         |
+========================================================+============================================================================================================+
| **Total experience:** 18 Years                         | **Experience in DXC:** 14 Years                                                                            |
+--------------------------------------------------------+------------------------------------------------------------------------------------------------------------+
| **Visa/Work permit:** N/A                              | **Validity Date of Visa/Work Permit:** N/A                                                                  |
+--------------------------------------------------------+------------------------------------------------------------------------------------------------------------+
| **Willing to relocate:** No                            | **Willing to travel:** Yes (up to 10%)                                                                     |
+--------------------------------------------------------+------------------------------------------------------------------------------------------------------------+

### 100-word biography/profile presentation

Benoit is the **Product Owner** of the DXC **central Agile/DevOps SaaS platform** to 28,000 active users, and is **leading** the **Agile/DevOps transformation** of several DXC teams, organizations and customers, by **coaching** on the **Agile/Lean/DevOps** culture, practices and the tools. He is also contributing in several communities of practice and for pre-sales.

Previously, Benoit has also worked as product owner of an AIOps/NoOps SaaS B2B platform, and as middleware & automation SME in DXC, leading projects for large customers, global standards for all customers. Before DXC, Benoit worked as system administrator, software developer and network administrator.

**More details below**:

`r emo::ji("backhand index pointing right")` [Portfolio of managed products] / [Some of the Teams I could lead] / [Recent performance]

`r emo::ji("backhand index pointing right")` [Experience] / [Skills] / [Experience detailed] / [Education and other]

\newpage

## Portfolio of managed products

![](img/devcloud-all.png){width=550px}

### _DXC DevCloud - central Agile/DevOps SaaS platform (Product Owner in 2021-2022)_

**Users `r emo::ji("man")`**: **28,000** (active) users, delivering software using Agile/DevOps practices.

**Business value `r emo::ji("money")`**: Individual Property, agility, Developer eXperience, speed, quality for **900+ customers**.

**Technology `r emo::ji("rocket")`**: AWS, Kubernetes, Terraform, CloudFormation, Ansible, Helm... to deploy **Jira, GitHub, Jenkins, Artifactory, Confluence** using 38 CI/CD pipelines.

**Team `r emo::ji("busts in silhouette")`**: 3 proxy product owners, **15 DevOps engineers** and our bot `r emo::ji("robot")` for 70% of the requests.

* **Measuring `r emo::ji("chart")`** data/trend of NPS, service, user base, feature usage, costs in every sprint review.
* Introduced **monetization `r emo::ji("money")`** by a freemium service-based model. Made **transparent** `r emo::ji("OK")` 300 **risks and debts** and 100 user requirements. **Prioritization** using impact/probability and impact/effort. 100 knowledge risks resolved, by a new **learning organization** `r emo::ji("school")`.
* **Improved** `r emo::ji("chart increasing")` **NPS to +95%**, availability from 97% to 99.6%, MTTR from 7 to 1 day, monetization by 25% and unblocked the delivery of 300 **user features**.

---

![](img/platform-x-all.png){width=600px}

### _[Platform-X](https://dxc.com/us/en/about-us/how-we-deliver/platform-x) Content Middleware -  AIOps SaaS B2B platform (Product Owner in 2018-2019)_

**Users `r emo::ji("man")`**: **3.3M users** managing the IT estate of **450+ customers**. - **Team `r emo::ji("busts in silhouette")`**: **5 engineers**.

**Business value `r emo::ji("money")`**: **AIOps** B2B SaaS, automated discovery/monitoring of **hundreds of** middleware **instances** in **_few hours_**. **50-75% automated resolution** of incidents, designed for **NoOps**.

**Technology `r emo::ji("rocket")`**: ServiceNow (CMDB, Flow, Incident), Microfocus UD, Nagios, API, JSON, Python.

* Dual-track Agile. **Product exploration and design**, strategy/roadmap, resource **hiring**. Development supporting the top #5 products, top #20 metrics and top #10 incidents. **Data-driven** value/effort **prioritization** and **OKRs**, based on configuration/incident data @scale. **Progressive delivery** and **launch**.
Improved the **coordination** for the end-to-end integration including external vendors, **from _months_ to _weeks_**. Improved the **testing** process **from _2 months_ to few _hours_**.

\newpage

## Some of the Teams I could lead

```{r arvan, echo=FALSE, error=TRUE, warning=FALSE, message=TRUE, fig.align = "center", out.width="40%"}
include_graphics("img/arvan-team.png")
```

### _Agile Marathon (Arvan) team (Scrum master in 2020)_

**Team `r emo::ji("busts in silhouette")`**: **9 coordinators**. **Purpose `r emo::ji("airplane")`**: Staff organizing a global 24-hours **conference on Agile**.

**Way of working `r emo::ji("backhand index pointing right")`**: **Culture of Agility**, **sprints** evolved from 4 weeks to **2 days**. **Asynchronous communication**.

**Outcomes `r emo::ji("stars")`**:

* best **team experience**, best communication (100 teams messages/month), **high performance** team managing 381 work items over 12 sprints. Huge **team learning** `r emo::ji("school")`, all members felt then prepared for a scrum master role.
* **2,348 attendees** and viewers to the event, 245 Q&As - **eNPS: +90%**, 90% considered it generated a **business value**.
* **1,519 subscribed** followers on our social network group, about 100 views per session.

---

### _Agile/DevOps Enablement team (Scrum Master/RTE in 2019-2020)_

**Team `r emo::ji("busts in silhouette")`**: **15 engineers**. **Purpose `r emo::ji("airplane")`**: Targeting 200,000+ employees to embrace the **Agile/DevOps transformation**, coaching and providing a **central platform**.

**Way of working `r emo::ji("backhand index pointing right")`**: **SAFe** evolved to Scrum and **Kanban**. **Agility** also during organizational changes. Some members assigned to a critical waterfall project during few months.

**Outcomes `r emo::ji("stars")`**:

* Managed the **challenges** of attrition, knowledge transfer/gaps, COVID, quick **changes in the team** with few days of notice, changes on **priorities** and ways of working, risk management.
* **No outage** `r emo::ji("OK")`, met critical deadlines on external projects, **continuous flow** of delivery using Kanban
* **Smooth transition** of the management, product manager, team, solid knowledge base.

---

### _Global capability Middleware team (Scrum master in 2017-2018)_

**Team `r emo::ji("busts in silhouette")`**: **9 engineers**. **Purpose `r emo::ji("airplane")`**: Global **optimization of all delivery operations** for the **middleware** capability, establish **standards and automation** solutions.

**Way of working `r emo::ji("backhand index pointing right")`**: From waterfall, introduced **Kanban**, **design sprints**, and then **Scrum**.

**Outcomes `r emo::ji("stars")`**:

* **Transparency** `r emo::ji("OK")` on the work in progress, made **success visible**. Decisions and **OKRs** based on **data** `r emo::ji("chart")` extraction and analytics.
* Fostered **innovation and learning** `r emo::ji("school")`, **new practices and tools** like some of the DevOps patterns.
* Continuous **flow**, **improved communication** (people in all timezones), collaboration and teamwork.

\newpage

## Recent performance

```{r PerformanceRatings, echo=FALSE, error=TRUE, warning=FALSE, message=TRUE, fig.width = 7, fig.height=2}
library(ggplot2)
data <- data.frame(
  x=seq(from=2015, to=2022),
  y=c(2,2,2,1,2,3,1,1)
)
yLabs <- c("Exceptional impact, exceeds all expectations", "Meets all and exceeds some expectations", "Meets most expectations", "Does not meet expectations")
# using the same palette as VisualResume below = yarrr::piratepal("xmen")
ggplot(data, aes(x=x, y=y)) +
  geom_segment( aes(x=x, xend=x, y=4, yend=y), color="#9B9B9BFF", size=0.5, linetype = "dotted") +
  geom_point(aes(color=y), size=4, show.legend = FALSE) +
  scale_color_gradient(low="#026CCBFF", high="#9b9b9b7e") +
  scale_x_continuous(breaks=seq(2015, 2022, 1)) +
  scale_y_reverse( lim=c(4,1), labels=stringr::str_wrap(yLabs, width = 20)) +
  theme_light() +
  theme(
    panel.grid.major.x = element_blank(),
    panel.grid = element_blank(),
    panel.border = element_blank(),
    axis.ticks.x = element_blank(),
    axis.text.y = element_text(size = 6),
    axis.title.y = element_text(size = 8)
  ) +
  xlab("") +
  ylab("Performance rating")
```

**Quotes** from our customers or account executive during 2022:

> "_Sharing thanks and appreciation for Benoit’s good work for [this customer].  He is contributing and supporting in a great way for my team._"
>
>> Regional Account Delivery Lead - {{dxc_exp3.customer_shortname}}

> "_I would like to also thanks Benoit for all his help completing the VSM for our team. His deep knowledge and understanding help us achieve this in a very reasonable and short time. I can’t wait to continue working with him as we move to the next step. [It is an] outstanding job you are doing when coaching us that benefits DXC and [the customer]._"
>
>> Application Development lead - {{dxc_exp3.customer_shortname}}

> "_Benoit is very responsive and helpful - anytime we have questions or need help looking into solutions, he provides detailed responses and includes multiple options/choices for solutions that make it easier for us to make informed decisions._"
>
>> Director of IT applications - {{dxc_exp4.customer_shortname}}

> "_Benoit is very knowledgeable within his domain, he is able to answer all the questions we have. If he doesn't have the answer, he will diligently research them and respond without us having to remind him._"
>
>> Project manager - {{dxc_exp4.customer_shortname}}

---

\newpage

## Experience

```{r VisualResume, echo=FALSE, error=TRUE, warning=FALSE, message=TRUE, out.width='1344px', out.height='700px' }
suppressMessages(
{
imgw = 1344
imgh = 960
imgh_cropped_top = 233
imgh_cropped_bottom = 640
# we first store the plot output in a PNG file
png('tmp_resume-timeline.png', width=imgw, height=imgh)
try(
  # using the VisualResume library: https://github.com/ndphillips/VisualResume
  VisualResume::VisualResume(
  titles.left = c("Benoit Bourdin", "Agile/DevOps transformation lead", "Innovation enthousiast, passion for people, process and technology."),
  titles.right = c("{{email_addr}}", " ", " "),
  titles.right.cex = c(3, 3, 3),
  titles.left.cex = c(6, 4.5, 2),
  timeline.labels = c("Experience"),
  timeline.cex = c(2.8, 1.8),
  events.cex = 3,
  timeline = data.frame(title = c(" ", "Security developer", "Unix/Linux admin", "Linux engineer", "Midrange administrator", "Webservices Project lead", "Middleware/automation SME", "Global middleware SME \n Scrum master", "Product Owner, Agile/DevOps coach", "DevOps/Scaled Agile coach, Scrum master", "Agile/DevOps transformation lead", "Product Owner"),
                        sub = c(" ", "Axians Neurocom", "Linkbynet", "Ounet Sistemi", "CSC ({{dxc_exp1.customer_shortname}})", "CSC ({{dxc_exp2.customer_shortname}})", "CSC ({{dxc_exp2.customer_shortname}})", "\n\nDXC (ITO Global capabilities)", "DXC (OE&E Platform DXC Middleware AIOps)", "DXC (Enterprise DevOps-Agile enablement)", "DXC ({{dxc_exp3.customer_shortname}}, {{dxc_exp4.customer_shortname}})", "DXC DevCloud SaaS platform"),
                        start = c(2002, 2004, 2005, 2006, 2008, 2010, 2012, 2017, 2018.7, 2019.7, 2020.5, 2021.4),
                        end = c(2004, 2005, 2006, 2008, 2010, 2012, 2017, 2018.7, 2019.7, 2020.5, 2022.6, 2022.6),
                        side = c(1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0),
                        label.y = c(60, 84, 77, 71, 29, 21, 13, 22, 66, 75, 84, 29),
                        label.dir = c("right", "right", "right", "right", "left", "left", "left", "left", "left", "left", "left", "left") ),
  milestones = data.frame(title = c(" "),
                          sub = c(" "),
                          year = c(1900)),
  events = data.frame(year = c(1900), title = c(" ")),
  interests = NULL,
  year.steps = 1
)
, silent = TRUE)
# we need a try catch silent and invisible, because the package returns an error:
#  "object 'locations' not found"
# ... because the interests is null and we didnt want it
invisible(dev.off())
})
# but, as this VisualResume function is failing and putting a lot of white space at the bottom...
# we open the PNG, we crop the output and store it to a second file
library(png)
suppressMessages({
  img1 <- readPNG("tmp_resume-timeline.png")
  imgh_cropped = imgh_cropped_bottom-imgh_cropped_top
  png('resume-timeline.png', width=imgw, height=imgh_cropped)
  par(mar = c(0,0,0,0))
  plot(c(0, imgw), c(0, imgh_cropped), ann = F, bty = 'n', type = 'n', xaxt = 'n', yaxt = 'n')
  rasterImage(img1[imgh_cropped_top:imgh_cropped_bottom,1:imgw,], 0, 0, imgw, imgh_cropped)
  invisible(dev.off())
  # finally we can display the output below
})
```

![](resume-timeline.png)

### Key Roles Performed

* Agile/Lean/DevOps Transformation Lead and enterprise Coach (4 years)
* Product Owner (2 years), Scrum Master (2 years), Supervisor/team leader (2 years)
* Global Middleware SME (2 years), Middleware/automation SME (10 years)
* System administrator (5 years), Software Developer (2 years), Network administrator (2 years)

## Skills

```{r Skills, echo=FALSE, error=TRUE, warning=FALSE, message=TRUE, out.width = "80%"}
result = suppressMessages({
people_wordlist = c(
  "Empathy",
  "Coaching",
  "Agility",
  "Teamwork",
  "Proactivity",
  "Transparency",
  "Leadership",
  "Creativity",
  "Reliability",
  "Diplomacy",
  "Prioritization",
  "Patience",
  "Respect",
  "Desire to learn",
  "Communication",
  "Commitment",
  "Negotiation",
  "Planning",
  "Networking",
  "Research",
  "Persuasion",
  "Positiveness",
  "Problem solving",
  "Languages"
)
people_data <- data.frame(
  word = people_wordlist,
  freq = c(
    30,
    28,
    27,
    26,
    25,
    23,
    21,
    18,
    15,
    14,
    10,
    8,
    8,
    8,
    8,
    8,
    6,
    6,
    5,
    5,
    5,
    3,
    3,
    3
  )
)
row.names(people_data) <- people_wordlist

process_wordlist = c(
    "Agile@scale",
    "Product management",
    "Continuous improvement",
    "Value Stream Mapping",
    "Infra-as-code",
    "Project to Product",
    "Scrum",
    "Kanban",
    "Flow measurement",
    "Kata",
    "Business agility",
    "Risk management",
    "CI/CD",
    "Community of practice",
    "Automation",
    "Config management",
    "ITSM"
)
process_data <- data.frame(
  word = process_wordlist,
  freq = c(
    27,
    26,
    25,
    23,
    20,
    19,
    18,
    15,
    14,
    13,
    12,
    11,
    10,
    9,
    8,
    7,
    7
  )
)
row.names(process_data) <- process_wordlist

tools_wordlist = c(
    "Jira",
    "GitHub",
    "Azure DevOps",
    "Jenkins",
    "Power BI",
    "Artifactory",
    "Confluence",
    "Ansible",
    "ServiceNow",
    "Power Automate",
    "Platform-X",
    "WAS",
    "Docker",
    "AWS",
    "Python",
    "Kubernetes",
    "Miro",
    "Linux",
    "Nagios",
    "Tomcat",
    "Azure"
)
tools_data <- data.frame(
  word = tools_wordlist,
  freq = c(
    30,
    28,
    27,
    26,
    25,
    23,
    17,
    14,
    12,
    12,
    10,
    8,
    8,
    8,
    5,
    5,
    3,
    3,
    3,
    3,
    3
  )
)
row.names(tools_data) <- tools_wordlist
library("wordcloud")

layout(
  matrix(c(
    1,
    2,
    3), nrow = 3, ncol = 1, byrow = TRUE),
  widths = c(10),
  heights = c(8, 6, 6)
)
mycolors = brewer.pal(8, "Dark2")

{
  {
    par(mar = c(0,0,0,0))
    plot(c(0, 1), c(0, 1), ann = F, bty = 'n', type = 'n', xaxt = 'n', yaxt = 'n')
    txtcex=1.8
    numwords=20
    maxfreq=30
    minx=0.46
    maxx=0.54
    diffx=(maxx-minx)/2 #0.5
    miny=0.14
    maxy=0.56
    diffy=(maxy-miny)/2
    # 3.5 + (1/-1)*0.5 = small  = 0.5/1
    # 3.5 + (1/-1)*0.01 = large = 0.5/30
    locx = matrix(minx + diffx + runif(numwords, min = -1, max = 1) * diffx/tools_data$freq, ncol = 1)
    locy = matrix(miny + diffy + runif(numwords, min = -1, max = 1) * diffy/tools_data$freq, ncol = 1)
    #locx = matrix(runif(numwords, min = 0.45, max = 0.53), ncol = 1)
    #locy = matrix(runif(numwords, min = 0.1, max = 0.55), ncol = 1)
    loc = cbind(locx, locy)
    nc <- wordlayout(loc[,1],loc[,2],tools_data$word,cex=tools_data$freq*txtcex/maxfreq)
    text(nc[,1] + .5*nc[,3],nc[,2]+.5*nc[,4],
         tools_data$word,cex=tools_data$freq*txtcex/maxfreq,
         col=mycolors[tools_data$freq*8/maxfreq])
    text(x = 0.25, y = 0.5, "Tools",
         cex = 2, col = "black", family=NA)
    lines(c(
            0.32, 0.68,
            0.5,
            0.32), c(
            0,0,
            1,
            0), pch = 18, col = "grey", type = "l", lwd=2)
  }
  {
    par(mar = c(0,0,0,0))
    plot(c(0, 1), c(0, 1), ann = F, bty = 'n', type = 'n', xaxt = 'n', yaxt = 'n')
    txtcex=2.2
    numwords=14
    maxfreq=30
    minx=0.37
    maxx=0.61
    diffx=(maxx-minx)/2 #0.5
    miny=0.19
    maxy=0.80
    diffy=(maxy-miny)/2
    # 3.5 + (1/-1)*0.5 = small  = 0.5/1
    # 3.5 + (1/-1)*0.01 = large = 0.5/30
    locx = matrix(minx + diffx + runif(numwords, min = -1, max = 1) * diffx/process_data$freq, ncol = 1)
    locy = matrix(miny + diffy + runif(numwords, min = -1, max = 1) * diffy/process_data$freq, ncol = 1)
    #locx = matrix(runif(numwords, min = 0.28, max = 0.8), ncol = 1)
    #locy = matrix(runif(numwords, min = 0.1, max = 0.9), ncol = 1)
    loc = cbind(locx, locy)
    nc <- wordlayout(loc[,1],loc[,2],process_data$word,cex=process_data$freq*txtcex/maxfreq)
    text(nc[,1] + .5*nc[,3],nc[,2]+.5*nc[,4],
         process_data$word,cex=process_data$freq*txtcex/maxfreq,
         col=mycolors[process_data$freq*8/maxfreq])
    #locx = matrix(runif(numwords, min = 0.38, max = 0.63), ncol = 1)
    #locy = matrix(runif(numwords, min = 0.1, max = 0.9), ncol = 1)
    text(x = 0.1, y = 0.5, "Process",
             cex = 2, col = "black", family=NA)
    lines(c(
            0.19, 0.81,
            0.69,0.31,
            0.19), c(
            0,0,
            1,1,
            0), pch = 18, col = "grey", type = "l", lwd=2)
  }
  {
    par(mar = c(0,0,0,0))
    plot(c(0, 1), c(0, 1), ann = F, bty = 'n', type = 'n', xaxt = 'n', yaxt = 'n')
    txtcex=3
    numwords=25
    maxfreq=30
    minx=0.25
    maxx=0.75
    diffx=(maxx-minx)/2 #0.5
    miny=0.15
    maxy=0.85
    diffy=(maxy-miny)/2
    # 3.5 + (1/-1)*0.5 = small  = 0.5/1
    # 3.5 + (1/-1)*0.01 = large = 0.5/30
    locx = matrix(minx + diffx + runif(numwords, min = -1, max = 1) * diffx/people_data$freq, ncol = 1)
    locy = matrix(miny + diffy + runif(numwords, min = -1, max = 1) * diffy/people_data$freq, ncol = 1)
    #locx = matrix(runif(numwords, min = 0.28, max = 0.8), ncol = 1)
    #locy = matrix(runif(numwords, min = 0.1, max = 0.9), ncol = 1)
    loc = cbind(locx, locy)
    nc <- wordlayout(loc[,1],loc[,2],people_data$word,cex=people_data$freq*txtcex/maxfreq)
    text(nc[,1] + .5*nc[,3],nc[,2]+.5*nc[,4],
         people_data$word,cex=people_data$freq*txtcex/maxfreq,
         col=mycolors[people_data$freq*8/maxfreq])
    text(x = 0.03, y = 0.7, "People",
         cex = 2, col = "black", family=NA)
    lines(c(
            0.09, 0.91,
            0.82,0.18,
            0.09), c(
            0,0,
            1,1,
            0), pch = 18, col = "grey", type = "l", lwd=2)
  }
}
}
)
```

### Top Skills (Technical/Nontechnical skills)

* Agile and DevOps culture, methods and tools (4 years), Lean and Value Stream Management (2 years)
* Product management, leadership of engineering and service (2 years)
* Middleware: web servers, application servers (11 years)
* ITSM practice (10 years), Unix/Linux (10+ years), Software development (Java, C, Shell… - 2 years), Networking (2 years)

\newpage

## Experience detailed

### DXC Technology

* _[DXC DevCloud](https://github.dxc.com/pages/Platform-DXC/devcloud-docs/)_ (from 2021) - **Product Owner of the Agile/DevOps central platform - SaaS**
  * Product owner of the Agile/DevOps central platform, to 28,000 (active) users. Consisted of tools (hosted on AWS) for agile (Jira), source code/innersource (GitHub), CI/CD (Jenkins), artifacts (Artifactory), documentation management (Confluence) and focusing the best Developer eXperience (Dx)
  * Managing a team of 15 DevOps engineers plus a bot and 38 CI/CD pipelines we develop and maintain. Built a team of 3 proxy product owners and 2 scrum masters.
  * Outcomes and value-driven, created and managing a backlog of 72 epics containing features, defects, risks and technical debt. Balancing priorities based on impact/effort, distribution and knowledge gaps. Continuous roadmapping, management of risks and technical debt (300 not identified earlier) with an impact/probability prioritization. Duplicated the development delivered and service level of the team against the original sprint commitment.
  * Created automated dashboards to measure/review the customer experience (UX/DX), flows/increments of development/operations (flow metrics), production (service) and costs after every sprint of 2 weeks (using Power BI, R, Grafana, AWS and Confluence).
  * Definition of the vision and strategy, innovation using a Freemium service-based model for monetization and to regulate the internal cost and demand. Charging based on service request, vision of tier-based subscriptions. Leading the internal marketing together with the team, using our enterprise communication tools and enterprise communities.
  * Leveraging our existing communities of practices to empathize with our customers and the business context.

* _{{dxc_exp3.customer_longname}}_ (from 2020) - **Agile and DevOps Transformation Lead**
  * Leading the DevOps/Lean/Agile enablement team (team of coaches) for this account. Weekly consulting on agility, scaling agile and team topologies, Kanban for flow management, training, agile tooling, value stream mapping, measurement of business outcomes.
  * Led two Value Stream Mapping (VSM) workshops, clarified team APIs, implementation of a continuous improvement framework with the leaders, leveraging transformation patterns for small and specific improvements using a Kata template.
  * Identification of the transformation expected outcomes in partnership with the customer, and implementation of the measurements.

* _{{dxc_exp4.customer_longname}}_ (from 2020) - **Scaled Agile Coach and Agile Platform Lead**
  * Coaching the customer for improved workflows, SAFe implementation (with Jira BigPicture/Advanced roadmaps) and employee experience (with Jira service desk). Leading the agile platform admin team (Jira) on daily support and the community of practice. Advising on the process/tooling strategy and licensing.

* _DXC community (from 2017)_ - **agile/DevOps Coach and leader of communities of practice**
  * Pre-sales of coaching services, delivery of coaching services (also called advisory or enablement services). Value Stream Mapping workshops for several customers.
  * Agile and DevOps coaching for other customers and internal organization, for their specific question or use case, leveraging many other different patterns, practices and tools.
  * Co-leader of the main DevOps/Lean/Agile and of the team topologies community of practice in DXC. Contributor to all the other DevOps/Lean/Agile communities of practice (presentations, consulting, creation of re-usable assets...) including Agile contracting, Value Stream Mapping, Agile@scale, SRE... Speaker on different topics like asynchronous communication, agile metrics, GitOps, DataOps. Speaker on different topics like asynchronous communication, agile metrics, GitOps, DataOps.
  * Speaker and part of the staff (scrum master) of the DXC Agile Marathon every year, which is a global event of 24 hours with presentations from all our best agile champions. Driving the staff to be an high performance agile team using innovation, Scrum (ex: sprints of 2 days), Azure DevOps. Driving the staff to be an high performance agile team using innovation, Scrum (ex: sprints of 2 days), Azure DevOps.

* _[Enterprise Agile/DevOps enablement](https://github.dxc.com/pages/bionix/storefront/products/DevOps/) team_ (2019-2020) - **DevOps/Scaled Agile Coach**
  * Coaching at scale, coaching coaches, targeting 200,000+ employees to embrace the DevSecOps and Scaled Agile transformation to maximize the value stream.
  * Participating on the product owning (of the [DXC Jira](https://github.dxc.com/pages/Platform-DXC/devcloud-docs/jira/ platform), Scrum/Kanban flow (Dev and Ops), architecture (Jira cloud), engineering of our [DevCloud platform](https://github.dxc.com/pages/Platform-DXC/devcloud-docs/), a ready-to-use platform to easily achieve the DevSecOps/Agile practice to 20,000+ users by doing both Dev (Node.JS, Groovy, Python, Java...) and Ops (AWS, Docker, Linux, middleware, DB...).
  Co-leading the [major migration to Jira 8](https://dxc.workplace.com/groups/DevCloud/permalink/690211148207878/).
  * Improved practice by collaboration to our communities on most of the Agile and DevOps culture and principles, including Lean, CI/CD, everything as code, Value Stream Mapping, team topologies.
  * Scaled Agile coaching, embracing the Lean/Agile practice by being a principal support in [OE&E Scaled Agile](https://github.dxc.com/Platform-DXC/ScaledAgile/) (1500+ individuals), coaching the PMO, Program and Teams.
  * Scrum master and then Release Train Engineer (RTE) for the team during a transition period of 6 months. Managed the challenges of attrition, knowledge transfer/gaps, COVID, quick changes on priorities and ways of working, risk management. No outage visible to the users, met critical deadlines, ensured a continuous flow of delivery using Kanban, supported the product manager/owners and management on the changes.

* _OE&E (Operations Engineering and Excellence)_ (2018-2019) - **Platform DXC/Platform-X (AIOps B2B SaaS) middleware Product Owner, Agile/DevOps Coach**
  * Product Owner of the Platform DXC/CVA middleware content ([end-to-end discovery/monitoring/auto-healing](https://github.dxc.com/Platform-DXC/architecture/blob/master/Cross-Pillar-Processes-and-Flows/Discovery-to-RBA.md) of [middleware instances](https://github.dxc.com/Platform-DXC/monitoring-catalog#middleware) for an AIOps/NoOps platform), team leader/supervisor of the middleware team.
  Optimizing the ROI by setting priorities and optimizing resources. Dual-track Agile (exploration/development, roadmapping, design, risk and dependencies management. Team building, facilitating the communication and onboarding new resources.
  * Automation and Middleware chief architect, working on the end to end DevOps automation chain integrated in the next digital transformation platform of our global company (Platform DXC/Platform-X and the Customer Virtual Appliance - CVA/Edge-X).
  * Supporting/improving the [development process](https://github.dxc.com/OEE-Content-Factory/PDXC-Content-Process/), ROI (by being product owner), and design of these solutions, progressive launch and delivery to new customers.
  * DevOps and ScaledAgile coach, daily supporting programs, scrum masters, leads and teams of 100+ developers to their Agile/DevOps transformation. Improving their Agile maturity, embracing and improving the [Scaled Agile implementation](https://github.dxc.com/Platform-DXC/ScaledAgile/) of the organization.
  Leading the DevOps implementation, bringing innovation, for example by deploying [testing pipelines](https://github.dxc.com/OEE-Content-Factory/PDXC-Content-testing/), [test automation](https://github.dxc.com/Ansible-Global/jenkins-ansibletest-lib) or [GitOps](https://github.dxc.com/OEE-Content-Factory/GitOps-PDXC-ansible-lib).

* _IT Operations global capabilities_ (2017-2018) - **Global capability middleware SME**
  * Optimization of the delivery operations for the middleware capability, in all the service management areas. Establishing standards and best practices globally for all the middleware installations in DXC. Supporting the development of automation (python, shell) and the development of automation (python, shell) and the delivery team of all the accounts worldwide for any technical concern.
  * Leading the middleware automation (DevOps and Bionix) initiatives, supporting the digital transition by building new standards using new methods (Agile) and tools (Jenkins, GitHub, Artifactory, Ansible/IAF/Raffia, docker, AWS, Jira, Azure DevOps …).
  * Scrum master, improving transparency and delivery flow of the team

### Computer Sciences Corporation (CSC)

Prior to the merge of CSC to DXC Technology:

* _{{dxc_exp2.customer_longname}}_ (2012- 2017) - **Middleware and automation SME**
  * Leading middleware automation & DevOps solutions. Suitable for provisioning, configuration and deployments on the middleware, and integration with the Cloud (DXC Agility). Mainly using Ansible, GIT, Bitbucket, Bamboo.
  * Building standards and solutions for WAS, tomcat , JBoss, Weblogic, Apache.
  * Worked on high-scale/pressure projects, under a direct visibility from the CIO, including :
    * Kolumbus: application modernization program, automation of the end-to-end provisioning and configuration of the middleware+application (100+ instances) using DevOps/Ansible, $5.5M revenue, Benoit received an award for the Project Management Excellence FY18
    * Data center move: coordination of the middleware activities and application troubleshooting during the data center move events (1000+ applications), automation of the network assignment. F2F recognition from the customer CIO, our CEO directly recognized our team for this project in a meeting call.
  * Third level support, problem solving, optimization.

* _{{dxc_exp2.customer_longname}}_ (2010-2012) - **European Webservices Project lead **
  * Leading infrastructure projects and architecture decision of Webservices team for half of the {{dxc_exp2.customer_shortname}} business units. Time and resource management (nearshore+offshore).
  * Communication with the client, and all DXC teams (SM, PM, architects…)
  * IBM Websphere application server 8.5 + apache full installation and administration. Third level support, problem solving, optimization.
  * Building standards and solutions for WAS, JBoss, Tomcat, Weblogic

* _{{dxc_exp1.customer_longname}}_ (2008-2010) - **JavaEE and Websphere expert, midrange administrator**
  * IBM  Websphere application server (WAS3,4,5,6,7 and WAS CE1,2) + apache full  installation and administration. Third level support : analyzing,  optimization and fine troubleshooting.
  * Training and supervising a technical team in India.
  * Leading technical projects, with direct communication to the client and Service Delivery Managers.
  * Application  management : documentation revision, monitoring management, incident and  problem solving, RCA owning.
  * JBoss and  tomcat administration. Shell and JACL+ Jython scripting, occasional  Unix/Linux and network activities.

### Previous Relevant Work Experience

* _OUnet Sistemi (Rome, Italy) - Novell Partner_ (2006-2008) - **Linux/Windows engineer**
Monitoring systems (Nagios),  wireless (Cisco WLC) and SLES/OES servers installation and administration, user  support.

* _Linkbynet (Saint Denis, France)_ (2005-2006) - **Linux/Windows engineer**
Installing  OS&applications (Apache/MySQL, Oracle, Websphere...) in a production  network (450 servers, 1000 clients). Bash and Perl programming, network security.

* _Axians Neurocom (Le Pecq, France), Vinci Energies_ (2005) - **Security engineer**
Security and intrusive tests. Vulnerability lookup, exploit demos, source code audit, Perl programming for Nessus.

* _Several companies in Paris, France_ (2002-2004) - **Several roles**
Technical trainer, C++/network  programming, C programming for Nagios+Squid, Linux clustering administration,  networking (cisco) administration.

---

### Previous work Rewards/Recognition

* [FY20Q3 recognition in the organization (OE&E)](https://dxcportal.sharepoint.com/sites/bionics/_layouts/15/Doc.aspx?sourcedoc={C62D4844-44AD-4CA0-BE9F-71B27AA193A2}&file=OE%26E All Employee Town Hall - January 28th 2020.pptx&action=edit&mobileredirect=true) as Middleware SME and Agile/DevOps coach

* [FY18 Project Management Excellence](https://my.dxc.com/our-company/operating-model/deliver/2018-pm-award-winners-.html) for the Kolumbus Guidewire Program in the {{dxc_exp2.customer_longname}}

### Industry Experience

* Manufacturing – 2 years
* Media/Entertainment – 1 year
* Insurance – 7 years
* Automotive – 3 years
* Legal service – 2 years

---

## Education and other

09/2005 Master's degree in Networks and Telecommunications, Paris XI university, Orsay, France.

07/2004 Degree and master's in computer science Paris XI, Orsay, France.

07/2002 Polytechnic university (DUT informatique), IUT Orsay, France.

07/1999 A Level of Science (Baccalaureat), Saint Vincent school, Senlis, France.

---

### Certifications (Professional Activities, Certifications, and Training Attended)

* Agile practices (official training) - 2019
* Architecting on AWS (official training) - 2016
* IBM Websphere Application Server (official trainings) :
  * V6 - 2008
  * V8.5 - 2014
  * performance tuning and security - 2015
* Oracle Weblogic administration 12c (official training) - 2015
* IBM Filenet (official training) - 2015
* IBM ITCAM – 2014
* Information Technology Infrastructure Library (ITIL, training+certification) – 2014
* Solaris (official training) – 2008
* Novell Suse 10 (CLP and CLE certifications) - 2008

### Languages

French: mother tongue

Spanish: fluent (living&working in Spain since 2008)

Italian : fluent (2 years living&working in Italy)

English: high (12 years working in English, 4 years for customers in US)

German : good skills/A1

### Hobbies/personal

I use to spend most of my personal time taking care of my two kids (7 and 9 years), but also in gardening at home and sailing in the Cantabrian Sea.
