---
marp: true
theme: default
paginate: false
{% if template == "dxc" %}
header: ![w:100%](dxc-data/img/dxc-ppt-header-1280.png)
footer: ![w:100%](dxc-data/img/dxc-ppt-footer-1280.png)
{% endif %}
# marp documentation: <https://marp.app/#get-started>
# marp examples:
#   <https://gist.github.com/yhatt/a7d33a306a87ff634df7bb96aab058b5>
#   <https://speakerdeck.com/yhatt/marp-basic-example>
---

<style>
img[alt~="center"] {
  display: block;
  margin: 0 auto;
}
header {
  top: 0px;
  left: 0px;
}

footer {
  bottom: 0px;
  left: 0px;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40pt;
  font-weight: bold;
  color: grey;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20pt;
  font-weight: bold;
  color: black;
}

table {
  width: 1000px;
  border-collapse: collapse;
  border: none;
  /* nice standard stile
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
}

/* nice standard stile
thead tr {
    background-color: #009879;
    color: #ffffff;
}
*/

thead tr {
    /* default DXC template for tables
    background-color: transparent;
    color: rgba(111, 44, 145, 1);*/
    background-color: rgba(111, 44, 145, 1);
    color: white;
    font-size: 15pt;
}

tbody td {
    border: none;
}

.leftpane {
    width: 50%;
    min-width: 470px;
}
.rightpane {
    width: 50%;
    min-width: 470px;
}

section {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
  color: black;
  width: 1280px;
  height: 960px;
  padding: 40px;
}

</style>

# Benoit Bourdin <font size=3>_(he/him - remote from Asturias, Spain)_</font>

![bg right:15% w:70%](img/me.jpg)

<div class="leftpane">Key roles performed</div> | <div class="rightpane">Top skills</div> |
:------|---|
| **Agile/Lean/DevOps<br/>transformation lead and coach** _(4 years)_ | **Soft skills:** Empathy, listening, proactivity, coaching, leadership. |
| **Product owner** _(2 years)_<br/> **Scrum master** _(2 years)_ | **Culture**: Agility, product management, data-driven, transparency, teamwork, focusing business value. |
| Global standards, middleware/automation SME<br/>_(10 years)_ | **Practices**: Scrum, Kanban, SAFe, team topologies, infrastructure as code, Value Stream Mapping. |
| System & network administration, software development<br/>_(5 years)_ | **Tools**: Jira, GitHub, Azure DevOps, Jenkins, Power BI. |

<div class="leftpane">Top #1 Product Management</div> | <div class="rightpane">Top #1 Team Management</div> |
:------|---|
| **Agile/DevOps central platform** _(2021-2022)_<br/>28,000 users, NPS: +95%.<br/>Improved availability from 97% to 99.6%, MTTR from 7 to 1 day. Mitigated 50 knowledge risks to unlock 400 work items/features. | **Agile Marathon team** _(organizing a global agile conference in 2020)_, 9 members.<br/>Huge team learning and experience, high performance. 2,348 attendees, eNPS: +90%. |
